In [ ]:
import numpy as np
import pandas as pd

In [ ]:
ser = pd.Series()
ser

In [ ]:
ser = pd.Series([0,10,20,30,40,50,60,70,80,90])
ser

In [ ]:
ser = pd.Series([20,15.7,"10"])
ser

In [ ]:
dict = {"A":[1,2,5] ,"B":[5,8,9],"C":[1,2,3]}

In [ ]:
df = pd.DataFrame(dict)
df

In [ ]:
print("Adding new column to existing data")

In [ ]:
df['D'] = "4 5 6".split()

In [ ]:
df

In [ ]:
#HOW TO CREATE NAN VALUES AND ITS MANIPULATION

In [ ]:
dict = {"A":[1,2,np.nan],"B":[5,np.nan,6],"C":[1,2,3]}

In [ ]:
df = pd.DataFrame(dict)
df

In [ ]:
df["D"] = "4 5 6".split()
df

In [ ]:
##DROPPING(DELETING) ANY COLUMN WITH NAN VALUE

In [ ]:
print("/n Dropping any column with nan value /n", "-"*35, sep="")
print(df.dropna(axis=1))

In [ ]:
df

In [ ]:
#WHERE EVER NAN VALUE IS THERE REPLACE IT BY ANOTHER NUMBER

In [ ]:
print("/n filling values with defult /n","-"*35,sep=" ")
print(df.fillna(value=20))

In [ ]:
#Dropping any rows with nan values

In [ ]:
print("/n Dropping any rows with nan value /n","-"*35)
print(df.dropna(axis=0))

In [ ]:
df

In [ ]:
print("/n Filling values with computed values (mean of column A)/n", "-"*60,sep=" ")
print (df.fillna(value=df["A"].mean()))
print("it will take all column value and will print mean value")

In [ ]:
#Create DataFrame

In [ ]:
data = {'company':["Goog","Goog","MFST","MFST","FB","FB"],"person":["Sam","Sundar","Faiz","Fahim","Faran","Raj"],"Sales":[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

In [ ]:
bycomp = df.groupby('company')
print("/n grouping by 'company' colomn and listing mean sales /n", "-"*55, sep='')
print(bycomp.mean())
print("to see the values of same company while it roles multiple times")

In [ ]:
print("/n Groupping by 'company' colomn and listing sum of sales /n",'-'*55,sep='')
print(bycomp.sum())

In [ ]:
#MERGING TWO DATAFRAMES
#CREATING DATAFRAME

In [ ]:
df1 = pd.DataFrame({'A': ['A0','A1','A2','A3'],
                    'B': ['B0','B1','B2','B3'],
                    'C': ['C0','C1','C2','C3'],
                    'D': ['D0','D1','D2','D3']},
                    index = [0, 1 , 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4','A5','A6','A7'],
                    'B': ['B4','B5','B6','B7'],
                    'C': ['C4','C5','C6','C7'],
                    'D': ['D4','D5','D6','D7']},
                     index = [4,5,6,7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8','A9','A10','A11'],
                    'B': ['B8','B9','B10','B11'],
                    'C': ['C8','C9','C10','C11'],
                    'D': ['D8','D9','D10','D11']},
                     index = [8, 9, 10, 11])

In [ ]:
print("\nThe DataFrame number1\n",'-'*30,sep='')
print(df1)

In [ ]:
print("\nThe DataFrame number2\n",'-'*30,sep='')
print(df2)

In [ ]:
print("\nThe DataFrame number3\n",'-'*30,sep='')
print(df3)

In [ ]:
#CONCATING/MERGING/JOINING

In [ ]:
df_cat1 = pd.concat([df1,df2,df3],axis=0)
print("\nAfter concating along with Row \n",'-'*30,sep='')
print(df_cat1 )

In [ ]:
df_cat2 = pd.concat([df1,df2,df3],axis=1)
print("\nAfter concating along with Column \n",'-'*30,sep='')
print(df_cat2 )

In [ ]:
#Assigning Missing Values

In [ ]:
df_cat2.fillna(value=0,inplace=True)
print("\n After filling missing values with zero \n",'-'*60,sep='')
print(df_cat2)

In [ ]:
df_cat2

In [ ]:
#NOTE:"INPLACE=TRUE" YOU SAVE DATESET AND FINALIZE SET

In [ ]:
#"INPLACE=TRUE",REPLACE ORIGINAL DATA

In [ ]:
#MERGING BY COLOMN BY COMMON KEY

In [ ]:
left = pd.DataFrame({'key':['k0','k1','k3'],
                      'A':['A0','A1','A3'],
                      'B':['B0','B1','B2']})

In [ ]:
right =  pd.DataFrame({'key':['k0','k1','k3'],
                      'C':['C0','C1','C3'],
                      'D':['D0','D1','D2']})

In [ ]:
print("\n The data frame 'left'\n",'-'*30,sep='')
print(left)

In [ ]:
print("\n The data frame 'right'\n",'-'*30,sep='')
print(right)

In [ ]:
merge1 = pd.merge(left,right,how='inner',on='key')
print("\n After merging with sample merging with 'inner'method \n",'-'*50,sep='')
print(merge1)

In [ ]:
#JOINING OPERATERS

In [ ]:
left = pd.DataFrame({'A':['A0','A1','A2'],
                    'B':['B0','B1','B2']},
                     index=['K0','K1','K2'])

In [ ]:
right = pd.DataFrame({'C':['C0','C1','C2'],
                    'D':['D0','D1','D2']},
                     index=['K0','K2','K3'])

In [ ]:
right

In [ ]:
left

In [ ]:
left.join(right)

In [ ]:
left.join(right,how='outer')

In [ ]:
#USE OF APPLY FUNCTION

In [ ]:
#DEFINE FUNCTION

In [ ]:
def testfunc(x):
    if(x>500):
        return(10*np.log10(x))
    else:
        return(x/10)

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4,5,6,7,8,9,10],
                    'col2':[444,555,444,666,555,111,888,999,777,444],
                     'col3':['aaa','abc','ccc','ddd','aaa','ddd','xxx','zzz','ccc','aaa']})
df

In [ ]:
df['FuncApplied'] = df['col1'].apply(testfunc)
print(df)

In [ ]:
df['col3length'] = df['col3'].apply(len)
print(df)

In [ ]:
df['FuncApplied'].apply(lambda x : np.sqrt(x))

In [ ]:
print("\sum of colomn 'FuncApplied'is ",df['FuncApplied'].sum())

In [ ]:
print("Min and max of the colomn 'FuncApplied' are :",df['FuncApplied'].min(), "and",df['FuncApplied'].max())

In [ ]:
#DELETATION , SORTING , LIST OF COLOMNS AND ROW NAMES

In [ ]:
print("\n Name of columns \n",'-'*20,sep='')
print(df.columns)

In [ ]:
l = list(df.columns)
print("\n Column names in a list of strings for later manupulation:",l)

In [ ]:
#DELETING COLUMN

In [ ]:
print("\n Deleting last column by 'del' command \n",'-'*50,sep='')
del df['col3length']
print(df)

In [ ]:
#SORTING VALUES in assending order (by default)

In [ ]:
df.sort_values(by='col2')

In [ ]:
#SORTING VALUES IN DESSCENDING ORDER

In [ ]:
df.sort_values(by='FuncApplied',ascending=False)

In [ ]:
#FINDING NULL VALUES

In [ ]:
df = pd.DataFrame({'col1':[1,2,np.nan,np.nan],
                'col2':[np.nan,555,666,444],
                'col3':['abc','def','gh','ij']})
df

In [ ]:
df.isnull().sum()

In [ ]:
df.fillna('888')